img {
max-width: 250px
}

.image {
    position: relative;
    text-align: center;
    color: white;
}

.character {
    height: 200px;
    width: 200px;
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
}

.lower {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}